* {
  font: mononoki,sans;
  font-size: 16;
  color: #ebdbb2;
  outline: none;
}

window {
  background-color: #282828;
  border: 2px dashed #ebdbb2;
}

#input {
  border-radius: 0px;
  border-bottom: 1px solid #ebdbb2;
  background-color: #32302f;
}

#inner-box {
}

#outer-box {
  border: 2px dashed #bdae93;
}

#scroll {}

#text {}

#entry {
  background-color: #282828;
}

#entry:nth-child(2n) {
  background-color: #3c3836;
}

#entry:selected {
  background-color: #bdae93;
}

#text:selected {
  color: #504943;
}
